<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" href="/css/Style.css">
    <script src="/js/app.js"></script>
</head>
<body>

    {{>header}}

    <p> This site created for weather streaming forecast</p>
     <p> Also we add new features in future</p>

    {{>footer}}
</body>
</html>